/* This file is provided by Docsy as an entry point to styling.
Add styles or override variables from the theme here. */
$primary: #01819a;
$secondary: #02abb8;
$success: #df5729;

$link-color: darken($secondary, 5%) !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: none !default;