+++
title = "OpenChain KWG"
linkTitle = "OpenChain KWG"

+++

{{< blocks/cover title="Welcome to OpenChain Korea Work Group!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		About <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/OpenChain-Project/OpenChain-KWG">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">OpenChain KWG is a subgroup of the Linux Foundation <a href="https://www.openchainproject.org/" target="_blank">OpenChain Project</a>.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
OpenChain KWG(Korea Work Group)은 Open Source 정신인 협업과 공유를 통해 모두가 효과적으로 Open Source Compliance를 달성하기 위한 방법을 고민하고 공유하기 위한 모임입니다.
{{% /blocks/lead %}}

{{< blocks/section  >}}
{{% blocks/feature icon="fa-lightbulb" title="Join the Mailing List!" %}}
Software를 개발하여 배포하는 한국 기업에서 Open Source Compliance 업무를 담당하는 분이라면 참여가 가능합니다.

[Mailing List](https://lists.openchainproject.org/g/korea-wg)에 가입하세요!!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-slack" title="Follow us on Slack!" url="https://openchain-kwg.slack.com" %}}
Slack에서는 Mailing List보다 다소 가벼운 대화를 하며 멤버들간의 소통이 이루어집니다! 
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/OpenChain-Project/OpenChain-KWG" %}}
우리의 활동은 **GitHub** 공개되어 있으며, 모든 형태의 기여를 환영합니다! [Pull Request](https://github.com/OpenChain-Project/OpenChain-KWG/pulls)를 보내주세요!
{{% /blocks/feature %}}


{{< /blocks/section >}}

